# Node modules
node_modules/

# Build artifacts
build/
dist/

# Environment Variables
.env
.env.local
.env.development.local
.env.test.local
.env.production.local

# Logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Editor and OS Specific
.DS_Store
Thumbs.db
.idea/
*.swp
*.swo
*.sublime*
*.code-workspace

# Cache
.cache/

# Flask
*.pyc
__pycache__/
instance/
.webassets-cache

# Databases
*.sqlite

# Others
*.bak
*.swp
*.swo


chorusgenvenv/
